<div class="container">
    <h1>Start editing your notes to the database</h1>
    <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Notes Title</label>
          <input type="title" class="form-control" name="title" id="title" aria-describedby="title"> 
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="desc" class="form-control" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>